<?xml version="1.0" encoding="UTF-8"?>

    <manifest android:versionName="1.0" android:versionCode="1" package="com.loganphillips.dafriends" xmlns:android="http://schemas.android.com/apk/res/android">



        <application android:label="@string/app_name" android:icon="@drawable/icon">


    <activity android:label="@string/app_name" android:name=".AddressBook">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

    <activity android:label="@string/app_name" android:name=".AddEditContact"/>

    <activity android:label="@string/app_name" android:name="com.loganphillips.dafriends.ViewContact"/>

</application>

</manifest>